*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

BODY{
    background-color: rgb(37, 34, 181);
}

input{
    width: 80%;
    padding: 10px;
    outline: none;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(11, 12, 11);
    cursor: pointer;
    width: 20%;
    color: white;
    border: none;
}

button:hover{
    background-color: dodgerblue;
    color: black;
    transition: 1s;
}
.container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 100%;
    gap: 10px;
}

.buscador{
    height: 150px;
    width: 400px;
    background-color: #e07f38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

.imagem{
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: antiquewhite;
}

header{
    height: 15vh;
    background-color: rgb(62, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20Vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 800;
}


footer{
    height: 10vh;
    background-color: rgb(62, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>p{
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: cursive;
}